/* モバイルファーストのスタイリング */
html {
  font-size: 16px;
}

body, html {
  width: 100%;
  margin: 1rem auto;
  font-family: serif;
}

/* タスク入力フォームと追加ボタンのスタイル */
.task_value {
  height: 1.5rem;
  letter-spacing: 0cap;
  margin-bottom: 0.5rem; /* タスク入力欄とボタンの間にスペースを追加 */
}

.task_submit {
  height: 2rem;
  margin-bottom: 1rem; /* ボタンの下にスペースを追加 */
}

/* タスクリスト表示エリアのスタイル */
#table {
  background-color: #F2F2F2; /* Excel風の背景色に変更 */
  width: 70%; /* 幅を調整 */
  margin: 2rem auto; /* 上下の余白を追加 */
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 影の追加 */
  border-radius: 0.5rem; /* 角を丸める */
}

h1 {
  text-align: center; /* タイトルを中央揃えにする */
  color: #1F497D; /* Excel風の青色に変更 */
}

h2 {
  font-size: 1.5rem; /* タイトルのフォントサイズを大きくする */
  text-align: center; /* タイトルを左揃えにする */
  margin-bottom: 1rem;
  color: #2E75B6; /* タイトルの青色を変更 */
}

/* タスクリストアイテムのスタイル */
li {
  margin: 1rem 0; /* アイテム間のスペースを調整 */
  padding: 1rem; /* アイテム内の余白を増やす */
  border: 1px solid #D9D9D9; /* ボーダーの色を変更 */
  border-radius: 0.5rem; /* 角を丸める */
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF; /* アイテムの背景色を白に変更 */
}

.task_list {
  list-style-type: none; /* リストのマーカーを非表示にする */
  padding: 0; /* リストの余白を削除 */
}

/* タスク削除ボタンのスタイル */
li button {
  background-color: #E81123; /* Excel風の赤に変更 */
  color: #FFFFFF; /* ボタンの文字色を白に変更 */
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
}

/* ボタンホバーエフェクト */
li button:hover {
  background-color: #FF5050; /* ホバー時の背景色を濃い赤に変更 */
}


.task_header {
  display: flex;
  justify-content: space-between;
  font-weight: bold; /* ヘッダーテキストを太字に設定 */
  padding: 0.5rem; /* ヘッダー内の余白を調整 */
}

.task_list {
  list-style-type: none; /* リストのマーカーを非表示にする */
  padding: 0; /* リストの余白を削除 */
}

form{
  text-align: center;
}

strong, span{
  border: solid 1px;
  border-collapse: collapse;
  width: 100%;
}

